@import 'node_modules/bootstrap/scss/bootstrap';

html {
  font-family: Inter sans-serif;
  text-align: center;
}

.carousel-background {
  height: 200px;
  background-color: #900d09;
  color: white;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
