.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container-full-screen {
  @extend .loader-container;
  height: 100vh;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader-animation 0.8s alternate infinite;
}

.spinner-sm {
  @extend .spinner;
  width: 16px;
  height: 16px;
  border: 2px solid;
}

.spinner-md {
  @extend .spinner;
  width: 32px;
  height: 32px;
  border: 4px solid;
}

.spinner-lg {
  @extend .spinner;
  width: 64px;
  height: 64px;
  border: 8px solid;
}



@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
    border-color: transparent;
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(1.5);
    border-color: #900d09 #000 #900d09 #000;
    border-radius: 50%;
  }
}
